{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}


{% block content%}
<body style="background-color: #5B85AA;">
    <div class="container content-section">
        <div class="row">
            <div class="col-md-2"> </div>
            <div class="col-md-8">
                <!-- Flash message -->
                <h2>Login</h2>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                <!-- Login form  -->
                {{ wtf.quick_form(login_form) }}
                <small class="text-muted ml-2">
                    <a href="#">Forgot Password?</a>
                </small>
                <br>
                <small class="text-muted"> Don't  have an account?  <a href="{{url_for('auth.register')}}">Sign up here</a></small>
            </div>
            <div class="col-md-2"> </div>

        </div>
    </div>
{%endblock%}
</body>