{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!-- Content block -->

{% block content %}
<body style="background-color: #5B85AA;">
<title> {{ title }} </title>

<main role="main" class="container-fluid">
    <div class="container">
      <h2 style="text-align: center">THE GIST WITH GESARE.</h2>
      <br>
      <div class="tab-content" >
        <div id="head" class="container tab-pane active"style="text-align: center"><br>
          <h2>Hi,Dear blog lovers</h2>
          <h4>Express your ideas and opinions on the blog.</h4>
          <h4>This is a safe place to write and read personal blogs</h4>
          <h4>We are lucky to have you on our website.</h4>
          <h4>Enjoy!</h4>
        </div>
      </div>
      <hr>
        <div class="tab-content">
           <div id="head" class="container tab-pane active " style="text-align: center"><br>
                <h2>What we can do for you;</h2>
                <h4>You can view the blog post on this site Down below.</h4>
                <h4>You can comment when you are the manager.</h4>
                <h4>You can Subscribe down below to get the latest version of the </h4>
                <h3>Click on the title when you want to comment.</h3>
           </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {%for post in posts.items%}
            <hr>
            <div class="thumbnail text-center">
                    <div class="article-metadata">
                        <p class="mr-2">{{ post.author }}</p>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d')}}</small>
                    </div>
                    <h4><a class="article-title" href="{{url_for('main.post', post_id=post.id)}}">{{ post.title }}</a></h4>
                    <p class="article-content">{{ post.content }}</p>
            </div>

            {% endfor%}

            {%for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num%}
            {% if posts.page == page_num %}
            <a class="btn btn-primary mb-4" href="{{url_for('main.index', page=page_num) }}">{{page_num}}</a>
            {% else %}
            <a class="btn btn-default mb-4" href="{{url_for('main.index', page=page_num) }}">{{page_num}}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor%}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="content-section">
                <h3>Subscribe</h3>
                <p class='text-muted'>Get an email every time something is posted
                    {{ wtf.quick_form(form) }}
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}


</body>